//-------------------------------------
// COLORS
// ------------------------------------
$color-primary: #A4C7E5;
$color-primary-light: rgb(204, 222, 237);
$color-primary-dark: #4979A1;

$color-white: rgb(255, 255, 255);
$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #d3d3d393;
$color-dark-grey-1: #6f6f6f;

$color-error: rgb(174, 21, 21);

//-------------------------------------
// EFFECTS
// ------------------------------------
$box-shadow-light: 0 0.5rem 0.5rem rgba(0, 0, 0, .05);
$box-shadow-light-2: 0 0.45rem 0.6rem rgba(0, 0, 0, .2);
$box-shadow-med: 0 0.5rem 0.5rem rgba(0, 0, 0, .3);
$box-shadow-dark: 0 1rem 1rem rgba(0, 0, 0, .2);

$text-shadow-light: 0 0.5rem 0.1rem rgba(0, 0, 0, .2);
$text-shadow-dark: 0 0.3rem 0.1rem rgba(0, 0, 0, .1);